<h3>List of Tickets</h3>
<a [href]="'/ticket/add'">Add new Ticket</a> <br>
<a [href]="'/home'">Go to Home</a>
<section>
  <table *ngFor="let ticket of ticketList">
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Severity</th>
    <th>Status</th>
    <th>Assigned Employees</th>
    <th>Watchers</th>
    <tr>
      <td>
        <a [href]="'ticket/'+ticket.id">{{ticket.id}}</a>
      </td>
      <td>
        {{ticket.title}}
      </td>
      <td>
        {{ticket.description}}
      </td>
      <td>
        {{ticket.severity}}
      </td>
      <td>
        {{ticket.status}}
      </td>

      <td>
        <span *ngIf='!ticket.assignedEmployee?.length;else ticketsAssignedEmployee'>
          Empty
        </span>

        <ng-template #ticketsAssignedEmployee>
          <span *ngFor="let employee of ticket.assignedTickets">
            {{employee.firstName}} {{employee.lastName}}
          </span>
        </ng-template>
      </td>

      <td>
        <span *ngIf='!ticket.watchers?.length;else ticketswatchers'>
          Empty
        </span>

        <ng-template #ticketswatchers>
          <span *ngFor="let employee of ticket.watchers">
            {{employee.firstName}} {{employee.lastName}}
          </span>
        </ng-template>
      </td>

    </tr>
  </table>
</section>
