<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
   <head> 
      <meta charset="ISO-8859-1"> 
      <title>Register</title>
      <link rel="stylesheet" th:href="@{/styles.css}" />
   </head> 
   <body> 
      <form th:action="@{/register}" th:object="${registrationForm}" method="post"> 
         <div class="container"> 
            <h1>Register</h1> 
            <p>Please fill in this form to create an account.</p> 
            <hr> 
            
            <label for="username"><b>Username</b></label> 
            <input type="text" placeholder="Enter Username" th:field="*{username}"
                 id="username"> 
            <span class="validationError"
               th:if="${#fields.hasErrors('username')}" 
               th:errors="*{username}">Username Error</span>

            <label for="password"><b>Password</b></label> 
            <input type="password" placeholder="Enter Password" name="password" th:field="*{password}"
            id="password"> 
            <span class="validationError"
               th:if="${#fields.hasErrors('password')}" 
               th:errors="*{password}">Password Error</span>


            <button type="submit" class="registerbtn">Register</button> 
         </div> 

      </form> 
   </body> 
</html>