<h1>Register</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="username"> Username </label>
    <input id="username" type="text" formControlName="username"/>
  </div>

  <div>
    <label for="password"> Password </label>
    <input id="password" type="password" formControlName="password"/>
  </div>

  <div>
    <label for="email"> email </label>
    <input id="email" type="email" formControlName="email" />
  </div>

  <div class="form-group">


    <label for="roles">Roles:</label>
    <div *ngFor="let role of Roles">
      <label>
        <input type="checkbox" [value]="role.value" [id]="role.id" [name]="role.id"
          (change)="onChange($event)" />
          {{role.value}}
      </label>
    </div>

    <p>Error below: </p>
    <div *ngIf="errorMssg">
      <p>{{errorMssg}}</p>
    </div>

  </div>

  <button class="button" type="submit">Signup</button> <br>
  <a [href]="'/login'">Already have an account? Sign in</a>
</form>
